<!DOCTYPE html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
        {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
            {{ app.config.get('general/sitename') }}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>

    {# paths.theme is always a correct path to the current theme. Even if you rename the theme-folder,
       this will keep working. See the documentation on paths: http://docs.bolt.cm/internals#paths #}
    <link rel="stylesheet" href="{{ paths.theme }}build/css/app.css">
    <link rel="stylesheet" href="{{ paths.theme }}icon-font/css/fontello.css" />
    <!-- <link rel="stylesheet" href="paths.themecss/icon-font/fontello.css" />
    <link rel="stylesheet" href="paths.themebuild/app.css" /> -->

    {#<!-- A variable from the theme's config:  theme.foo  -->#}

</head>
<body>


    <div class="ideabox">
        <i class="icon icon-lightbulb"></i>
        <div class="idea-trigger"><p>goed idee voor de proeftuin?</p></div>
    </div>

{% block ideabox %}

{% endblock %}
