
       <div class="col-md-10 col-md-offset-1 personal-timeline">
           <p class="subtitle subtitle-item">{{ intern.firstname }}'s planning</p>
           <p class="legenda">
               <span class="legenda-project">project</span></p>
            <p class="legenda">
                <span class="legenda-fase">betrokken fase</span>
            </p>
           <div class="now" data-offset="{{ team.startdate|TimelineNowCalculator(team.enddate) }}"></div>

           <div class="personal-projects-wrap">


                   {% for i in range(0, team.startdate|getWeeks(team.enddate)) %}
                        <div class="week" data-offset="{{ 100 / team.startdate|getWeeks(team.enddate) * i }}"><span>{{ i|getWeekDate(team.startdate) }}</span></div>
                   {% endfor %}

            <div class="personal-projects">
           {% if intern.relation.projects %}

               {% for project in intern.related('projects') %}

                           <div class="personal-project-item">
                               <div class="item item-small item-link" data-target=".project-item-{{ project.id }}">
                                   <img class="item-img item-img-timeline" src="files/{{ project.image }}"/>
                                   <h3 class="title title-item title-timeline">{{ project.name }}</h3>
                               </div>
                               <div class="timeline personal-timeline">

                                       <div class="timeline-filled timeline-filled-project" data-target=".project-{{ project.id }}" data-value="{{ project.startdate|TimelineDurationCalculator(project.enddate, team.startdate, team.enddate) }}" data-offset="{{ project.startdate|TimelinePositionCalculator(project.enddate, team.startdate, team.enddate) }}">
                                           <p class="js-details details details-project project-{{ project.id }}"> {{ project.startdate|date("d/m/Y") }} - {{ project.enddate|date("d/m/Y")}}</p>
                                       </div>

                                        {% if project.relation.fases %}

                                            {% for fase in project.related('fases') if intern.id in fase.relation.interns %}

                                                    <div class="timeline-filled timeline-filled-fase" data-target=".fase-{{ fase.id }}" data-value="{{ fase.startdate|TimelineDurationCalculator(fase.enddate, team.startdate, team.enddate) }}" data-offset="{{ fase.startdate|TimelinePositionCalculator(fase.enddate, team.startdate, team.enddate) }}">
                                                    <p class="js-details details details-fase fase-{{ fase.id }}">{{ fase.startdate|date("d/m/Y") }} </br><span>{{ fase.name }}<span></p></div>

                                           {% endfor %}
                                       {% endif %}

                                </div>
                           </div>


               {% endfor %}
           {% endif %}
           {% if intern.relation.schools %}
                <div class="personal-project-item">
                    <div class="item item-small item-link">
                        <img class="item-img item-img-timeline" src="files/{{ intern.image }}"/>
                        <h3 class="title title-item title-timeline">{{ intern.firstname }} school</h3>
                    </div>
                    <div class="timeline personal-timeline">

                            {% for school in intern.related('schools') %}
                                 <div class="timeline-filled timeline-filled-school" data-target=".school-{{ school.id }}" data-value="{{ school.startdate|TimelineDurationCalculator(school.enddate, team.startdate, team.enddate) }}" data-offset="{{ school.startdate|TimelinePositionCalculator(school.enddate, team.startdate, team.enddate) }}">
                                     <p class="js-details details details-school school-{{ school.id }}">{{ school.startdate|date("d/m/Y") }} </br><span>{{ school.name }}<span></p>
                                    <p class="js-details details-description details-school school-{{ school.id }}">{{ school.description }}</p>
                                </div>
                            {% endfor %}

                     </div>
                </div>
           {% endif %}
            </div>
        </div>
    </div>
